$background: #f4f7f7;
$white-background: #ffffff;

$primary:#6ED7D6;
$success: #74C621;
$info: #2176FF;
$warning: #FF9926;
$danger: #FF3D6D;


$text-color: #313639;
$text-color-white: #ffffff;


$font-main: 'Merienda One', 'Montserrat', 'Open Sans', 'Roboto', sans-serif;
$logo-size: 30px;




//////////////DARK THEME///////////
$card-background:#222b45;
$dark-background: #1a2138;
